<%- include('../layouts/header.ejs'); %>
<div class="mt-5 pt-5 container">
  <% if (products.length > 0) { %>
  <div class="row">
    <% for (let product of products) { %>
    <div class="col-4">
      <div class="card">
        <img src="<%= product.image_url %>" class="card-img-top object-fit-cover" height="250"/>
        <div class="card-body">
          <h5 class="card-title"><%= product.title %></h5>
          <p class="card-text text-truncate">
            <%= product.description %>
          </p>
          <div class="d-flex column-gap-3">
            <a
              href="/products/123"
              class="btn btn-outline-success flex-grow-1"
              role="button"
              >Details</a
            >
            <form action="/cart" method="post">
              <input type="hidden" name="productId" value="BOOK" />
              <button class="btn btn-success">
                <i class="bi bi-cart-plus-fill"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% } %> <% } else { %>
      <%- include('../templates/list-empty.ejs'); %>
  </div>
  <% } %>
</div>
<%- include('../layouts/footer.ejs'); %>
